<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Search Flickr with AngularJS</title>
  <link data-require="materializecss@0.96.1" data-semver="0.96.1" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  
</head>

<body>


  <section class="row" ng-app="formFlickr" ng-controller="FlickrController">

    <nav class="light-blue" role="navigation">
      <div class="nav-wrapper container center">
        <form name="form" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons search-icon prefix">search</i>
              <input id="searchCriteria"
                     ng-model="searchCriteria.tags"
                     ng-target="form.tags"
                     name="tags"
                     type="text"
                     class="header-search-input"
                     placeholder="Search tag"
                     ng-change="search(searchCriteria);document.getElementsByName('tags').focus();"
                     ng-focus="inputFocus(true)"
                     ng-blur="inputFocus(false)"
                    />
            </div>

          </div>
        </form>
      </div>
    </nav>


    <div id="images" class="app-container">
      <div class="row">

        <div class="progress" ng-show="isSearching()">
          <div class="indeterminate"></div>
        </div>

        <div class="col s12" id="message">{{message}}</div>

        <figure class="added-fig" ng-repeat="i in images">

            <div class="col s12 m6 l3">
              <div class="card flickr">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator " class="added-img" data-caption="A picture of some deer and tons of trees" width="250" src="{{i.media.m}}" />
                </div>
                  <div class="card-content">
                    <i class="material-icons prefix">person</i>
                    <span class="activator grey-text text-darken-4">{{i.author}}</span>
                  </div>
                  <div class="card-action row">
                    <div ng-bind-html="renderHtml(i.tagList)"/>
                  </div>
                </div>
            </div>
        </figure>
      </div>
    </div>

  </div>
</section>


  <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js'></script>
  <!--<script data-require="angular.js@2.0.0" data-semver="2.0.0" src="https://code.angularjs.org/2.0.0-snapshot/angular2.js"></script>-->
  <!--<script data-require="jquery@2.2.4" data-semver="2.2.4" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>-->

  <!--<script data-require="materializecss@0.96.1" data-semver="0.96.1" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js" ></script>-->
    <script src="js/index.js"></script>


</body>

</html>
