<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Search Flickr</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Materialize CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
  <script src="js/index.js"></script>
</head>

<body ng-app="searchFlickr" ng-controller="SearchController">
  <main>
    <nav class="light-blue" role="navigation">
      <div class="nav-wrapper container center">
        <form name="form" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons search-icon prefix">search</i>
              <input id="tags"
                     ng-model="tags"
                     ng-target="form.tags"
                     name="tags"
                     type="text"
                     class="header-search-input"
                     placeholder="Search Flickr by tag"
                     ng-change="search(tags);document.getElementsByName('tags').focus();"
                     ng-focus="inputFocus(true)"
                     ng-blur="inputFocus(false)"
                    />
            </div>

          </div>
        </form>
      </div>
    </nav>

    <div id="images" class="app-container">
      <div class="row">

        <div class="progress" ng-show="isSearching()">
          <div class="indeterminate"></div>
        </div>

        <div class="col s12" id="message">{{message}}</div>

          <figure ng-repeat="i in images" ng-show="images.length > 0">

            <div class="col s12 m6 l3">
              <div class="card flickr">
                <div class="card-image waves-effect waves-block waves-light">
                  <a href="{{i.link}}" target="_blank"><img materialboxed class="materialboxed responsive-img" data-caption="{{i.description}}" width="250" src="{{i.media.m}}"/></a>
                </div>
                  <div class="card-content">
                    <i class="material-icons prefix">person</i>
                    <span class="activator grey-text text-darken-4">{{i.author}}</span>
                  </div>
                  <div class="card-action row tagList">
                    <div class="bindDiv" ng-bind-html="renderHtml(i.tagList)" ng-click="searchTag(this, $event);$event.stopPropagation();"></div>
                </div>
              </div>
            </div>

          </figure>
      </div>
    </div>
  </main>

</body>

</html>
